@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color:white;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgb(34, 34, 34),black,rgb(46, 46, 46));
    background-size:100% 100%;
    background-attachment: fixed;
}

.transform-left{
    transform: skew(15deg);
}

.transform-right{
    transform: skew(-15deg);
}